.skills {
  padding: 100px 10%;
  background: #0f172a;
}

.skills-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(180px, 1fr));

  gap: 25px;
}

.skill-card {
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.08);

  padding: 30px;

  border-radius: 15px;

  text-align: center;

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);

  border-color: #38bdf8;
}

.skill-icon {
  font-size: 3rem;

  color: #38bdf8;

  margin-bottom: 15px;
}

.skill-card h3 {
  color: white;
  font-size: 1.1rem;
}