.about {
  padding: 100px 10%;
  background: #111827;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.about-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 15px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-8px);
}

.about-card h3 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.about-card p {
  color: #cbd5e1;
  line-height: 1.8;
}

.about-card span {
  color: #38bdf8;
  font-weight: 600;
}

.about-card ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-card li {
  color: #cbd5e1;
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}